__pycache__/__init__.cpython-310.pyc
__pycache__/IOUtils.cpython-310.pyc
CallGenesTools/__pycache__/__init__.cpython-39.pyc
CallGenesTools/__pycache__/__init__.cpython-310.pyc
CallGenesTools/__pycache__/__init__.cpython-311.pyc
CallGenesTools/__pycache__/CallGenesUtils.cpython-39.pyc
CallGenesTools/__pycache__/CallGenesUtils.cpython-310.pyc
CallGenesTools/__pycache__/CallGenesUtils.cpython-311.pyc
DataTools/__pycache__/__init__.cpython-39.pyc
DataTools/__pycache__/__init__.cpython-310.pyc
DataTools/__pycache__/__init__.cpython-311.pyc
DataTools/__pycache__/DataUtils.cpython-39.pyc
DataTools/__pycache__/DataUtils.cpython-310.pyc
DataTools/__pycache__/DataUtils.cpython-311.pyc
FilterBinsTools/__pycache__/__init__.cpython-39.pyc
FilterBinsTools/__pycache__/__init__.cpython-310.pyc
FilterBinsTools/__pycache__/__init__.cpython-311.pyc
FilterBinsTools/__pycache__/FilterUtils.cpython-39.pyc
FilterBinsTools/__pycache__/FilterUtils.cpython-310.pyc
FilterBinsTools/__pycache__/FilterUtils.cpython-311.pyc
LabelContigTools/__pycache__/__init__.cpython-39.pyc
LabelContigTools/__pycache__/__init__.cpython-310.pyc
LabelContigTools/__pycache__/__init__.cpython-311.pyc
LabelContigTools/__pycache__/GaussianLearnContigDist.cpython-39.pyc
LabelContigTools/__pycache__/GaussianLearnContigDist.cpython-310.pyc
LabelContigTools/__pycache__/GaussianLearnContigDist.cpython-311.pyc
LabelContigTools/__pycache__/LabelBinUtils.cpython-39.pyc
LabelContigTools/__pycache__/LabelBinUtils.cpython-310.pyc
LabelContigTools/__pycache__/LabelBinUtils.cpython-311.pyc
Model/__pycache__/__init__.cpython-39.pyc
Model/__pycache__/__init__.cpython-310.pyc
Model/__pycache__/__init__.cpython-311.pyc
Model/__pycache__/Convolutions.cpython-39.pyc
Model/__pycache__/Convolutions.cpython-310.pyc
Model/__pycache__/Convolutions.cpython-311.pyc
Model/__pycache__/Embedding.cpython-39.pyc
Model/__pycache__/Embedding.cpython-310.pyc
Model/__pycache__/Embedding.cpython-311.pyc
Model/__pycache__/EncoderModels.cpython-39.pyc
Model/__pycache__/EncoderModels.cpython-310.pyc
Model/__pycache__/EncoderModels.cpython-311.pyc
Model/__pycache__/FormerLayers.cpython-39.pyc
Model/__pycache__/FormerLayers.cpython-310.pyc
Model/__pycache__/FormerLayers.cpython-311.pyc
Model/__pycache__/Loss.cpython-39.pyc
Model/__pycache__/Loss.cpython-310.pyc
Model/__pycache__/Loss.cpython-311.pyc
Model/__pycache__/ModelCheckpointUtils.cpython-39.pyc
Model/__pycache__/ModelCheckpointUtils.cpython-310.pyc
Model/__pycache__/ModelCheckpointUtils.cpython-311.pyc
SelectMAGsTools/__pycache__/__init__.cpython-39.pyc
SelectMAGsTools/__pycache__/__init__.cpython-310.pyc
SelectMAGsTools/__pycache__/__init__.cpython-311.pyc
SelectMAGsTools/__pycache__/SelectionUitls.cpython-39.pyc
SelectMAGsTools/__pycache__/SelectionUitls.cpython-310.pyc
SelectMAGsTools/__pycache__/SelectionUitls.cpython-311.pyc
SeqProcessTools/__pycache__/__init__.cpython-39.pyc
SeqProcessTools/__pycache__/__init__.cpython-310.pyc
SeqProcessTools/__pycache__/__init__.cpython-311.pyc
SeqProcessTools/__pycache__/SequenceDataset.cpython-39.pyc
SeqProcessTools/__pycache__/SequenceDataset.cpython-310.pyc
SeqProcessTools/__pycache__/SequenceDataset.cpython-311.pyc
SeqProcessTools/__pycache__/SequenceUtils.cpython-39.pyc
SeqProcessTools/__pycache__/SequenceUtils.cpython-310.pyc
SeqProcessTools/__pycache__/SequenceUtils.cpython-311.pyc
TrainTools/__pycache__/__init__.cpython-39.pyc
TrainTools/__pycache__/__init__.cpython-310.pyc
TrainTools/__pycache__/__init__.cpython-311.pyc
TrainTools/__pycache__/Scheduler.cpython-39.pyc
TrainTools/__pycache__/Scheduler.cpython-310.pyc
TrainTools/__pycache__/Scheduler.cpython-311.pyc
TrainTools/__pycache__/TrainUtils.cpython-39.pyc
TrainTools/__pycache__/TrainUtils.cpython-310.pyc
TrainTools/__pycache__/TrainUtils.cpython-311.pyc
DeepurifyInfoFiles/CheckPoint/BigModel_Pair_0.780.ckpt
DeepurifyInfoFiles/3Mer_vocabulary.txt
DeepurifyInfoFiles/4Mer_vocabulary.txt
DeepurifyInfoFiles/HMM/hmm_925.hmm
DeepurifyInfoFiles/HMM/solidBinMarker.hmm
DeepurifyInfoFiles/PyObjs/bigModel_taxoText2textRepNormVector_0.780.pkl
DeepurifyInfoFiles/PyObjs/contig_GMM.pkl
DeepurifyInfoFiles/TaxonomyInfo/ProGenomes/phy2count.txt
DeepurifyInfoFiles/TaxonomyInfo/ProGenomes/ProGenomesSamples2Weight.txt
DeepurifyInfoFiles/TaxonomyInfo/ProGenomes/ProGenomesTaxonomyTree.pkl
DeepurifyInfoFiles/TaxonomyInfo/ProGenomes/ProGenomesVocabulary.txt
DeepurifyInfoFiles/HMM/hmm_925.hmm
DeepurifyInfoFiles/HMM/solidBinMarker.hmm
FilterBinsTools/__init__.py
FilterBinsTools/FilterUtils.py
ExpVisualization.ipynb
ExpSmallIBS.ipynb
ExpSimulation.ipynb
ExpModelInterpretation.ipynb
ExpReal.ipynb
FilterBinsTools/__init__.py
FilterBinsTools/FilterUtils.py
main_sim2.py
main_sim1.py
main_real.py
Script.ipynb
__pycache__/main.cpython-311.pyc
.gitignore
.gitignore
.gitignore
RunMagpurifyScript.py
RunMagpurifyScript.py
setup.py
dist/Deepurify-1.1.0.4-py3-none-any.whl
Deepurify.egg-info/dependency_links.txt
Deepurify.egg-info/entry_points.txt
Deepurify.egg-info/not-zip-safe
Deepurify.egg-info/PKG-INFO
Deepurify.egg-info/requires.txt
Deepurify.egg-info/SOURCES.txt
Deepurify.egg-info/top_level.txt
build/lib/Deepurify/__init__.py
build/lib/Deepurify/clean_func.py
build/lib/Deepurify/cli.py
build/lib/Deepurify/funcs.py
build/lib/Deepurify/IOUtils.py
build/lib/Deepurify/CallGenesTools/__init__.py
build/lib/Deepurify/CallGenesTools/CallGenesUtils.py
build/lib/Deepurify/DataTools/__init__.py
build/lib/Deepurify/DataTools/DataUtils.py
build/lib/Deepurify/FilterBinsTools/__init__.py
build/lib/Deepurify/FilterBinsTools/FilterUtils.py
build/lib/Deepurify/LabelContigTools/__init__.py
build/lib/Deepurify/LabelContigTools/GaussianLearnContigDist.py
build/lib/Deepurify/LabelContigTools/LabelBinUtils.py
build/lib/Deepurify/Model/__init__.py
build/lib/Deepurify/Model/Convolutions.py
build/lib/Deepurify/Model/Embedding.py
build/lib/Deepurify/Model/EncoderModels.py
build/lib/Deepurify/Model/FormerLayers.py
build/lib/Deepurify/Model/Loss.py
build/lib/Deepurify/SelectMAGsTools/__init__.py
build/lib/Deepurify/SelectMAGsTools/SelectionUitls.py
build/lib/Deepurify/SeqProcessTools/__init__.py
build/lib/Deepurify/SeqProcessTools/SequenceDataset.py
build/lib/Deepurify/SeqProcessTools/SequenceUtils.py
build/lib/Deepurify/TrainTools/__init__.py
build/lib/Deepurify/TrainTools/Scheduler.py
build/lib/Deepurify/TrainTools/TrainUtils.py
Deepurify/__pycache__/__init__.cpython-310.pyc
Deepurify/__pycache__/clean_func.cpython-310.pyc
Deepurify/__pycache__/funcs.cpython-310.pyc
Deepurify/__pycache__/IOUtils.cpython-310.pyc
Deepurify/CallGenesTools/__pycache__/__init__.cpython-310.pyc
Deepurify/CallGenesTools/__pycache__/CallGenesUtils.cpython-310.pyc
Deepurify/FilterBinsTools/__pycache__/__init__.cpython-310.pyc
Deepurify/FilterBinsTools/__pycache__/FilterUtils.cpython-310.pyc
Deepurify/LabelContigTools/__pycache__/__init__.cpython-310.pyc
Deepurify/LabelContigTools/__pycache__/LabelBinUtils.cpython-310.pyc
Deepurify/Model/__pycache__/__init__.cpython-310.pyc
Deepurify/Model/__pycache__/Convolutions.cpython-310.pyc
Deepurify/Model/__pycache__/EncoderModels.cpython-310.pyc
Deepurify/Model/__pycache__/FormerLayers.cpython-310.pyc
Deepurify/SelectMAGsTools/__pycache__/__init__.cpython-310.pyc
Deepurify/SelectMAGsTools/__pycache__/SelectionUitls.cpython-310.pyc
Deepurify/SeqProcessTools/__pycache__/__init__.cpython-310.pyc
Deepurify/SeqProcessTools/__pycache__/SequenceUtils.cpython-310.pyc
%Data%Git_Deepurify_Code%Deepurify_Project/chat_history/history.sqlite
Deepurify/__pycache__/__init__.cpython-311.pyc
Deepurify/__pycache__/clean_func.cpython-311.pyc
Deepurify/__pycache__/funcs.cpython-311.pyc
Deepurify/__pycache__/IOUtils.cpython-311.pyc
Deepurify/CallGenesTools/__pycache__/__init__.cpython-311.pyc
Deepurify/CallGenesTools/__pycache__/CallGenesUtils.cpython-311.pyc
Deepurify/CallGenesTools/__pycache__/prodigal.cpython-311.pyc
Deepurify/FilterBinsTools/__pycache__/__init__.cpython-311.pyc
Deepurify/FilterBinsTools/__pycache__/FilterUtils.cpython-311.pyc
Deepurify/LabelContigTools/__pycache__/__init__.cpython-311.pyc
Deepurify/LabelContigTools/__pycache__/LabelBinUtils.cpython-311.pyc
Deepurify/Model/__pycache__/__init__.cpython-311.pyc
Deepurify/Model/__pycache__/Convolutions.cpython-311.pyc
Deepurify/Model/__pycache__/EncoderModels.cpython-311.pyc
Deepurify/Model/__pycache__/FormerLayers.cpython-311.pyc
Deepurify/SelectMAGsTools/__pycache__/__init__.cpython-311.pyc
Deepurify/SelectMAGsTools/__pycache__/SelectionUitls.cpython-311.pyc
Deepurify/SeqProcessTools/__pycache__/__init__.cpython-311.pyc
Deepurify/SeqProcessTools/__pycache__/SequenceUtils.cpython-311.pyc
test.ipynb
DeepurifyTempFiles/AnnotOutput/bin.1.txt
DeepurifyTempFiles/AnnotOutput/bin.2.txt
DeepurifyTempFiles/AnnotOutput/bin.3.txt
DeepurifyTempFiles/AnnotOutput/bin.4.txt
DeepurifyTempFiles/CalledGenes/bin.1.faa
DeepurifyTempFiles/CalledGenes/bin.1.gff
DeepurifyTempFiles/CalledGenes/bin.1.HMM.txt
DeepurifyTempFiles/CalledGenes/bin.2.faa
DeepurifyTempFiles/CalledGenes/bin.2.gff
DeepurifyTempFiles/CalledGenes/bin.2.HMM.txt
DeepurifyTempFiles/CalledGenes/bin.3.faa
DeepurifyTempFiles/CalledGenes/bin.3.gff
DeepurifyTempFiles/CalledGenes/bin.3.HMM.txt
DeepurifyTempFiles/CalledGenes/bin.4.faa
DeepurifyTempFiles/CalledGenes/bin.4.gff
DeepurifyTempFiles/CalledGenes/bin.4.HMM.txt
DeepurifyTempFiles/FilterOutput/original_checkm.txt
DeepurifyTempFiles/FilterOutput/T1_0_checkm.txt
DeepurifyTempFiles/FilterOutput/T1_checkm.pkl
DeepurifyTempFiles/FilterOutput/T2_0_checkm.txt
DeepurifyTempFiles/FilterOutput/T2_checkm.pkl
DeepurifyTempFiles/FilterOutput/T3_0_checkm.txt
DeepurifyTempFiles/FilterOutput/T3_checkm.pkl
DeepurifyTempFiles/FilterOutput/T1_filter/bin.1_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T1_filter/bin.1.fa
DeepurifyTempFiles/FilterOutput/T1_filter/bin.2___0.fa
DeepurifyTempFiles/FilterOutput/T1_filter/bin.2_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T1_filter/bin.2.fa
DeepurifyTempFiles/FilterOutput/T1_filter/bin.3___0.fa
DeepurifyTempFiles/FilterOutput/T1_filter/bin.3___1.fa
DeepurifyTempFiles/FilterOutput/T1_filter/bin.3___2.fa
DeepurifyTempFiles/FilterOutput/T1_filter/bin.3___3.fa
DeepurifyTempFiles/FilterOutput/T1_filter/bin.3___4.fa
DeepurifyTempFiles/FilterOutput/T1_filter/bin.3_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T1_filter/bin.3.fa
DeepurifyTempFiles/FilterOutput/T1_filter/bin.4___0.fa
DeepurifyTempFiles/FilterOutput/T1_filter/bin.4___1.fa
DeepurifyTempFiles/FilterOutput/T1_filter/bin.4_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T1_filter/bin.4.fa
DeepurifyTempFiles/FilterOutput/T2_filter/bin.1_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T2_filter/bin.1.fa
DeepurifyTempFiles/FilterOutput/T2_filter/bin.2___0.fa
DeepurifyTempFiles/FilterOutput/T2_filter/bin.2_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T2_filter/bin.2.fa
DeepurifyTempFiles/FilterOutput/T2_filter/bin.3___0.fa
DeepurifyTempFiles/FilterOutput/T2_filter/bin.3___1.fa
DeepurifyTempFiles/FilterOutput/T2_filter/bin.3___2.fa
DeepurifyTempFiles/FilterOutput/T2_filter/bin.3___3.fa
DeepurifyTempFiles/FilterOutput/T2_filter/bin.3___4.fa
DeepurifyTempFiles/FilterOutput/T2_filter/bin.3_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T2_filter/bin.3.fa
DeepurifyTempFiles/FilterOutput/T2_filter/bin.4___0.fa
DeepurifyTempFiles/FilterOutput/T2_filter/bin.4_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T2_filter/bin.4.fa
DeepurifyTempFiles/FilterOutput/T3_filter/bin.1_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T3_filter/bin.1.fa
DeepurifyTempFiles/FilterOutput/T3_filter/bin.2___0.fa
DeepurifyTempFiles/FilterOutput/T3_filter/bin.2_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T3_filter/bin.2.fa
DeepurifyTempFiles/FilterOutput/T3_filter/bin.3___0.fa
DeepurifyTempFiles/FilterOutput/T3_filter/bin.3___1.fa
DeepurifyTempFiles/FilterOutput/T3_filter/bin.3___2.fa
DeepurifyTempFiles/FilterOutput/T3_filter/bin.3_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T3_filter/bin.3.fa
DeepurifyTempFiles/FilterOutput/T3_filter/bin.4___0.fa
DeepurifyTempFiles/FilterOutput/T3_filter/bin.4_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T3_filter/bin.4.fa
DeepurifyTempFiles/FilterOutput/T3_filter/0/bin.1.fa
DeepurifyTempFiles/FilterOutput/T3_filter/0/bin.2___0.fa
DeepurifyTempFiles/FilterOutput/T3_filter/0/bin.2.fa
DeepurifyTempFiles/FilterOutput/T3_filter/0/bin.3.fa
DeepurifyTempFiles/FilterOutput/T4_filter/bin.1_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T4_filter/bin.1.fa
DeepurifyTempFiles/FilterOutput/T4_filter/bin.2_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T4_filter/bin.2.fa
DeepurifyTempFiles/FilterOutput/T4_filter/bin.3___0.fa
DeepurifyTempFiles/FilterOutput/T4_filter/bin.3___1.fa
DeepurifyTempFiles/FilterOutput/T4_filter/bin.3___2.fa
DeepurifyTempFiles/FilterOutput/T4_filter/bin.3_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T4_filter/bin.3.fa
DeepurifyTempFiles/FilterOutput/T4_filter/bin.4_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T4_filter/bin.4.fa
DeepurifyTempFiles/FilterOutput/T4_filter/0/bin.1.fa
DeepurifyTempFiles/FilterOutput/T4_filter/0/bin.2.fa
DeepurifyTempFiles/FilterOutput/T4_filter/0/bin.3___0.fa
DeepurifyTempFiles/FilterOutput/T4_filter/0/bin.3___1.fa
DeepurifyTempFiles/FilterOutput/T4_filter/0/bin.3___2.fa
DeepurifyTempFiles/FilterOutput/T4_filter/0/bin.3.fa
DeepurifyTempFiles/FilterOutput/T4_filter/0/bin.4.fa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/checkm.log
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.1/genes.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.1/genes.gff
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.1/hmmer.tree.txt
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.2/genes.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.2/genes.gff
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.2/hmmer.tree.txt
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3/genes.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3/genes.gff
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3/hmmer.tree.txt
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3___0/genes.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3___0/genes.gff
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3___0/hmmer.tree.txt
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3___1/genes.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3___1/genes.gff
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3___1/hmmer.tree.txt
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3___2/genes.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3___2/genes.gff
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3___2/hmmer.tree.txt
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.4/genes.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.4/genes.gff
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.4/hmmer.tree.txt
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/bin_stats.tree.tsv
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/phylo_hmm_info.pkl.gz
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/concatenated.fasta
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/concatenated.pplacer.json
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/concatenated.tre
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00164.20.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00177.16.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00181.18.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00189.15.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00203.16.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00237.14.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00238.14.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00252.13.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00276.15.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00281.14.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00297.17.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00298.14.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00312.17.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00318.15.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00333.15.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00366.15.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00380.14.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00410.14.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00411.14.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00466.15.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00562.23.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00572.13.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00573.17.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00623.15.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00673.16.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00687.16.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00831.18.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF00861.17.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF01192.17.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF01509.13.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF02978.14.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF03719.10.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF03946.9.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF03947.13.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF04560.15.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF04561.9.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF04563.10.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF04565.11.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF04997.7.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF05000.12.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/PF11987.3.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/pplacer.out
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/TIGR00344.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/storage/tree/TIGR00422.masked.faa
DeepurifyTempFiles/FilterOutput/T5_filter/bin.1_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T5_filter/bin.1.fa
DeepurifyTempFiles/FilterOutput/T5_filter/bin.2_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T5_filter/bin.2.fa
DeepurifyTempFiles/FilterOutput/T5_filter/bin.3___0.fa
DeepurifyTempFiles/FilterOutput/T5_filter/bin.3___1.fa
DeepurifyTempFiles/FilterOutput/T5_filter/bin.3___2.fa
DeepurifyTempFiles/FilterOutput/T5_filter/bin.3_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T5_filter/bin.3.fa
DeepurifyTempFiles/FilterOutput/T5_filter/bin.4_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T5_filter/bin.4.fa
DeepurifyTempFiles/FilterOutput/T6_filter/bin.1_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T6_filter/bin.1.fa
DeepurifyTempFiles/FilterOutput/T6_filter/bin.2_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T6_filter/bin.2.fa
DeepurifyTempFiles/FilterOutput/T6_filter/bin.3___0.fa
DeepurifyTempFiles/FilterOutput/T6_filter/bin.3___1.fa
DeepurifyTempFiles/FilterOutput/T6_filter/bin.3___2.fa
DeepurifyTempFiles/FilterOutput/T6_filter/bin.3___3.fa
DeepurifyTempFiles/FilterOutput/T6_filter/bin.3___4.fa
DeepurifyTempFiles/FilterOutput/T6_filter/bin.3___5.fa
DeepurifyTempFiles/FilterOutput/T6_filter/bin.3___6.fa
DeepurifyTempFiles/FilterOutput/T6_filter/bin.3___7.fa
DeepurifyTempFiles/FilterOutput/T6_filter/bin.3___8.fa
DeepurifyTempFiles/FilterOutput/T6_filter/bin.3_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T6_filter/bin.3.fa
DeepurifyTempFiles/FilterOutput/T6_filter/bin.4_BinNameToLineage.ann
DeepurifyTempFiles/FilterOutput/T6_filter/bin.4.fa
demo_input/checkmTempOut/checkm.log
demo_input/checkmTempOut/lineage.ms
demo_input/checkmTempOut/bins/bin.1/genes.faa
demo_input/checkmTempOut/bins/bin.1/genes.gff
demo_input/checkmTempOut/bins/bin.1/hmmer.analyze.txt
demo_input/checkmTempOut/bins/bin.1/hmmer.tree.txt
demo_input/checkmTempOut/bins/bin.2/genes.faa
demo_input/checkmTempOut/bins/bin.2/genes.gff
demo_input/checkmTempOut/bins/bin.2/hmmer.analyze.txt
demo_input/checkmTempOut/bins/bin.2/hmmer.tree.txt
demo_input/checkmTempOut/bins/bin.3/genes.faa
demo_input/checkmTempOut/bins/bin.3/genes.gff
demo_input/checkmTempOut/bins/bin.3/hmmer.analyze.txt
demo_input/checkmTempOut/bins/bin.3/hmmer.tree.txt
demo_input/checkmTempOut/bins/bin.4/genes.faa
demo_input/checkmTempOut/bins/bin.4/genes.gff
demo_input/checkmTempOut/bins/bin.4/hmmer.analyze.txt
demo_input/checkmTempOut/bins/bin.4/hmmer.tree.txt
demo_input/checkmTempOut/storage/bin_stats_ext.tsv
demo_input/checkmTempOut/storage/bin_stats.analyze.tsv
demo_input/checkmTempOut/storage/bin_stats.tree.tsv
demo_input/checkmTempOut/storage/checkm_hmm_info.pkl.gz
demo_input/checkmTempOut/storage/marker_gene_stats.tsv
demo_input/checkmTempOut/storage/phylo_hmm_info.pkl.gz
demo_input/checkmTempOut/storage/aai_qa/bin.3/PF02152.13.masked.faa
demo_input/checkmTempOut/storage/aai_qa/bin.4/PF00312.17.masked.faa
demo_input/checkmTempOut/storage/aai_qa/bin.4/PF01808.13.masked.faa
demo_input/checkmTempOut/storage/aai_qa/bin.4/PF02410.10.masked.faa
demo_input/checkmTempOut/storage/aai_qa/bin.4/PF02482.14.masked.faa
demo_input/checkmTempOut/storage/aai_qa/bin.4/PF02631.11.masked.faa
demo_input/checkmTempOut/storage/aai_qa/bin.4/TIGR00195.masked.faa
demo_input/checkmTempOut/storage/aai_qa/bin.4/TIGR00633.masked.faa
demo_input/checkmTempOut/storage/tree/concatenated.fasta
demo_input/checkmTempOut/storage/tree/concatenated.pplacer.json
demo_input/checkmTempOut/storage/tree/concatenated.tre
demo_input/checkmTempOut/storage/tree/PF00164.20.masked.faa
demo_input/checkmTempOut/storage/tree/PF00177.16.masked.faa
demo_input/checkmTempOut/storage/tree/PF00181.18.masked.faa
demo_input/checkmTempOut/storage/tree/PF00189.15.masked.faa
demo_input/checkmTempOut/storage/tree/PF00203.16.masked.faa
demo_input/checkmTempOut/storage/tree/PF00237.14.masked.faa
demo_input/checkmTempOut/storage/tree/PF00238.14.masked.faa
demo_input/checkmTempOut/storage/tree/PF00252.13.masked.faa
demo_input/checkmTempOut/storage/tree/PF00276.15.masked.faa
demo_input/checkmTempOut/storage/tree/PF00281.14.masked.faa
demo_input/checkmTempOut/storage/tree/PF00297.17.masked.faa
demo_input/checkmTempOut/storage/tree/PF00298.14.masked.faa
demo_input/checkmTempOut/storage/tree/PF00312.17.masked.faa
demo_input/checkmTempOut/storage/tree/PF00318.15.masked.faa
demo_input/checkmTempOut/storage/tree/PF00333.15.masked.faa
demo_input/checkmTempOut/storage/tree/PF00366.15.masked.faa
demo_input/checkmTempOut/storage/tree/PF00380.14.masked.faa
demo_input/checkmTempOut/storage/tree/PF00410.14.masked.faa
demo_input/checkmTempOut/storage/tree/PF00411.14.masked.faa
demo_input/checkmTempOut/storage/tree/PF00466.15.masked.faa
demo_input/checkmTempOut/storage/tree/PF00562.23.masked.faa
demo_input/checkmTempOut/storage/tree/PF00572.13.masked.faa
demo_input/checkmTempOut/storage/tree/PF00573.17.masked.faa
demo_input/checkmTempOut/storage/tree/PF00623.15.masked.faa
demo_input/checkmTempOut/storage/tree/PF00673.16.masked.faa
demo_input/checkmTempOut/storage/tree/PF00687.16.masked.faa
demo_input/checkmTempOut/storage/tree/PF00831.18.masked.faa
demo_input/checkmTempOut/storage/tree/PF00861.17.masked.faa
demo_input/checkmTempOut/storage/tree/PF01192.17.masked.faa
demo_input/checkmTempOut/storage/tree/PF01509.13.masked.faa
demo_input/checkmTempOut/storage/tree/PF02978.14.masked.faa
demo_input/checkmTempOut/storage/tree/PF03719.10.masked.faa
demo_input/checkmTempOut/storage/tree/PF03946.9.masked.faa
demo_input/checkmTempOut/storage/tree/PF03947.13.masked.faa
demo_input/checkmTempOut/storage/tree/PF04560.15.masked.faa
demo_input/checkmTempOut/storage/tree/PF04561.9.masked.faa
demo_input/checkmTempOut/storage/tree/PF04563.10.masked.faa
demo_input/checkmTempOut/storage/tree/PF04565.11.masked.faa
demo_input/checkmTempOut/storage/tree/PF04997.7.masked.faa
demo_input/checkmTempOut/storage/tree/PF05000.12.masked.faa
demo_input/checkmTempOut/storage/tree/PF11987.3.masked.faa
demo_input/checkmTempOut/storage/tree/pplacer.out
demo_input/checkmTempOut/storage/tree/TIGR00344.masked.faa
demo_input/checkmTempOut/storage/tree/TIGR00422.masked.faa
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/lineage.ms
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.1/hmmer.analyze.txt
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.2/hmmer.analyze.txt
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3/hmmer.analyze.txt
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3___0/hmmer.analyze.txt
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3___1/hmmer.analyze.txt
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.3___2/hmmer.analyze.txt
DeepurifyTempFiles/FilterOutput/T4_filter/0/checkmTempOut/bins/bin.4/hmmer.analyze.txt
DeepurifyTempFiles/FilterOutput/T4_0_checkm.txt
DeepurifyTempFiles/FilterOutput/T4_checkm.pkl
DeepurifyTempFiles/FilterOutput/T5_0_checkm.txt
DeepurifyTempFiles/FilterOutput/T5_checkm.pkl
DeepurifyTempFiles/FilterOutput/T6_0_checkm.txt
DeepurifyTempFiles/FilterOutput/T6_checkm.pkl
